<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>

	<system.serviceModel>
		<client>
   <endpoint address="net.tcp://172.22.130.121:12000/WarCardGameLibrary/User"
    binding="netTcpBinding" bindingConfiguration="myBindingConfig"
    contract="WarCardGameLibrary.IUser" name="GameBoard" />
   <endpoint address="net.tcp://localhost:12000/WarCardGameLibrary/User"
    binding="netTcpBinding" bindingConfiguration="GameBoard" contract="ServiceReference1.IUser"
    name="GameBoard1">
    <identity>
     <userPrincipalName value="MATT-PC\matthew" />
    </identity>
   </endpoint>
  </client>

		<bindings>
   <netTcpBinding>
    <binding name="myBindingConfig">
     <security mode="None" />
    </binding>
    <binding name="GameBoard" />
   </netTcpBinding>
  </bindings>
	</system.serviceModel>
</configuration>