<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="WarCardGameLibrary.GameBoard" behaviorConfiguration="Default">
				<endpoint name="GameBoard"
						  address="WarCardGameLibrary/User"
						  binding ="netTcpBinding"
						  contract="WarCardGameLibrary.IUser"/>
        <endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange">
          <identity>
            <userPrincipalName value="MATT-PC\Owner" />
          </identity>
        </endpoint>
        
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://172.22.130.121:12000/"/>
					</baseAddresses>
				</host>
			</service>
		</services>

		<bindings>
			<netTcpBinding>
				<binding name="myBindingConfig">
					<security mode="None"/>
				</binding>
			</netTcpBinding>
		</bindings>
		
		<behaviors>
			<serviceBehaviors>
				<behavior name="Default">
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>